# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
dist/
build/
*.egg-info/
.installed.cfg
*.egg
.cache
pytest-debug.log
.mypy_cache/
.dmypy.json
dmypy.json
.python-version
Pipfile.lock
conda-meta/
envs/
.ipynb_checkpoints
.vscode/
.idea/
.env
*.env
.DS_Store
Thumbs.db

# React
build/
dist/
*.prod.js
*.prod.css
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
*.env
coverage/
node_modules/
.vscode/
.idea/
.DS_Store
Thumbs.db
*.pem
*.p12
*.key
*.crt
*.cer
server/routes/__pycache__/auth_routes.cpython-312.pyc
server/server/